.markdown-rendered .internal-link{
    color:   #ff57a1  ;
    text-decoration-line: var(--link-decoration);
    

}

.markdown-rendered .internal-link:hover{
    color:  #ce65f9   ;
    text-decoration-color:  #ce65f9  ;
    text-decoration-line: var(--link-decoration);
}

.markdown-rendered .internal-link.is-unresolved {
    color: #ff57a1;
    text-decoration: var(--link-decoration);
}

.markdown-rendered .internal-link.is-unresolved:hover {
color:  #883fa0  ;
text-decoration-color:  #883fa0  ;
text-decoration-line: var(--link-decoration);

}

.markdown-rendered blockquote {
    background-color:#1C00ff00
}